:root {
  --text-color: #555555;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --text-white-color: #ffffff;
  --table-text-color: #9da4bd;
  --background-section-color: #f7f7f7;
  --small-text-grey-color: rgba(157, 164, 189, 0.6);
  --transition-dur-cub: 250ms linear;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--text-white-color);
  font-family: Open Sans, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}
.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.button {
  min-width: 160px;
  border-radius: 25px;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-color: var(--accent-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.button-header {
  color: var(--text-white-color);
  transition: color var(--transition-dur-cub), background-color var(--transition-dur-cub);
}

.button-header:hover,
.button-header:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}

.button {
  cursor: pointer;
}

.logo-link {
  display: block;
  width: 69px;
  height: 55px;
  margin-right: 10px;
  fill: var(--text-white-color);
}

@media screen and (min-width: 768px) {
  .logo-link {
    fill: #000;
  }
}
@media screen and (min-width: 1200px) {
  .logo-link {
    margin-right: 75px;
  }
}
.nav-list,
.contact-link,
.button-header {
  display: none;
}

.mobile-menu-open {
  background-color: transparent;
  fill: var(--text-white-color);
  border: none;
  padding: 0;
  line-height: 0;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 40px 0 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
  .button-header {
    display: block;
  }
  .nav-list__link,
.contact-link {
    color: var(--text-white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    transition: color var(--transition-dur-cub);
  }
  .nav-list__item:not(:last-child) {
    margin-right: 40px;
  }
  .contact-link {
    margin-left: auto;
    margin-right: 40px;
    text-transform: uppercase;
  }
  .nav-list__link:hover,
.nav-list__link:focus {
    color: var(--accent-color);
  }
  .contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-list {
    margin-right: 43px;
  }
  .contact-link {
    display: block;
  }
}
.hero {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/Slider1-desk.jpg");
  background-size: cover;
  background-position: 60% 0;
  min-height: 100vh;
}

.hero-container {
  background-color: transparent;
}

.hero-part {
  display: none;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--text-white-color);
}

.suptitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--table-text-color);
}

.suptitle::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--table-text-color);
}

.hero-text {
  color: var(--table-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.social-media-part {
  display: none;
}

.text-container {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 7%;
  max-width: 320px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .text-container {
    display: none;
  }
  .hero {
    background-image: none;
    min-height: 0;
  }
  .hero-container {
    overflow: hidden;
    display: flex;
    position: relative;
  }
  .social-media-part {
    position: absolute;
    bottom: 0;
    left: 95px;
    display: flex;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    padding-bottom: 30px;
    padding-left: 40px;
  }
  .social-media-list {
    display: flex;
  }
  .social-media-item:not(:last-child) {
    margin-right: 40px;
  }
  .social-media-link {
    display: flex;
    align-items: center;
    color: var(--title-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    transition: color var(--transition-dur-cub);
  }
  .social-media-link:hover,
.social-media-link:focus {
    color: var(--accent-color);
  }
  .social-media-inst::before {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    margin-right: 40px;
    background-color: var(--title-color);
  }
  .hero-part {
    position: relative;
    left: 100px;
    top: 0;
    display: block;
    padding-top: 274px;
    flex-grow: 1;
    padding-bottom: 206px;
    padding-left: 100px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/Slider1-desk.jpg");
    background-color: rgba(25, 28, 38, 0.2);
    background-size: cover;
    background-position: 50% 0%;
  }
  .hero-text {
    max-width: 355px;
  }
}
.about-photo-container {
  display: none;
}

.about-text-part {
  padding-right: 91px;
  padding-left: 64px;
}

.about-title {
  margin-bottom: 20px;
  color: var(--title-color);
  font-size: 28px;
  line-height: 1.27;
  letter-spacing: 0.05em;
}

.about-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.about-text-big {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.97;
  letter-spacing: 0.02em;
}

.about-button {
  background-color: transparent;
  transition: background-color var(--transition-dur-cub), color var(--transition-dur-cub);
}

.about-button:hover,
.about-button:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

@media screen and (min-width: 768px) {
  .about-photo-container {
    display: block;
  }
  .about-container {
    display: flex;
  }
  .about-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .about-title {
    margin-bottom: 23px;
    color: var(--title-color);
    line-height: 1.37;
  }
  .about-text {
    margin-bottom: 23px;
    line-height: 1.77;
  }
  .about-text-big {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 1.97;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1280px) {
  .about-list {
    display: flex;
    margin-right: 64px;
  }
  .about-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .about-title {
    margin-bottom: 20px;
    font-size: 42px;
  }
  .about-text {
    line-height: 1.67;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .about-text-big {
    margin-bottom: 23px;
    line-height: 1.87;
    font-size: 14px;
  }
}
.price-section {
  text-align: center;
  background-color: rgba(17, 19, 25, 0.8);
  background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/service-img-mob.jpg");
  background-position: center;
  background-size: cover;
}

.price-list {
  display: flex;
  max-width: 418px;
  display: block;
  padding: 0 30px;
}

.price-table {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-title {
  margin-bottom: 44px;
  text-align: start;
  color: var(--text-white-color);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.price-list-left {
  background-image: none;
  padding-top: 30px;
  padding-bottom: 20px;
}

.price-list-right {
  background-image: none;
  padding-bottom: 30px;
}

.price-item {
  display: flex;
  align-items: baseline;
  color: var(--table-text-color);
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.underline {
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}

.price-button {
  color: var(--text-white-color);
  background-color: transparent;
  transition: background-color var(--transition-dur-cub);
}

.price-button:hover,
.price-button:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .price-section {
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/service-table.jpg");
  }
  .price-list {
    max-width: 690px;
    padding: 0 40px;
  }
  .price-list-left {
    background-image: none;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .price-list-right {
    background-image: none;
    padding-bottom: 30px;
  }
  .price-item {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .price-section {
    background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/service1-desk.jpg");
  }
  .price-list {
    width: 585px;
    margin-bottom: 50px;
  }
  .price-table {
    display: flex;
    flex-direction: row;
    background-image: none;
    margin-bottom: 0px;
  }
  .price-list-left {
    padding-bottom: 30px;
    background-image: linear-gradient(180deg, #171a24, rgba(23, 26, 36, 0.2));
  }
  .price-list-right {
    padding-top: 30px;
    background-image: linear-gradient(180deg, #090b13, rgba(9, 11, 19, 0.2));
  }
}
.features-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.feature-title {
  position: relative;
  color: var(--title-color);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  text-align: center;
}

.feature-text {
  color: var(--title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.right-feature-part,
.left-feature-part {
  flex-basis: calc((100% - 30px) / 2);
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 416px;
  margin: 0 auto;
}

.feature-item {
  width: 193px;
  min-height: 134px;
  background-color: #f7f7f7;
  padding: 21px;
}

.feature-item:nth-child(even) {
  margin-top: 30px;
}

@media screen and (max-width: 479px) {
  .feature-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .feature-item:nth-child(even) {
    margin-top: 0px;
  }
}
.feature-big-title {
  max-width: 390px;
  margin-bottom: 20px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.feature-text-big {
  font-size: 20px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-bottom: 44px;
}

.feature-plus {
  margin-left: 2px;
  position: absolute;
  top: 7px;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

@media screen and (min-width: 768px) {
  .feature-text-big {
    width: 500px;
  }
  .feature-list {
    max-width: 450px;
    margin-left: auto;
    margin-right: 0;
  }
  .feature-item {
    width: 210px;
  }
}
@media screen and (min-width: 1280px) {
  .features-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .feature-list {
    width: 370px;
    margin: 0 auto;
  }
  .feature-item {
    width: 170px;
  }
}
.master-section {
  background-color: var(--background-section-color);
}

.master-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}

.master-title {
  margin-bottom: 44px;
  color: var(--title-color);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.master-text-small {
  margin-top: 8px;
  margin-bottom: 30px;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}

.master-text-part {
  padding-top: 30px;
  text-align: center;
}

.master-icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--text-white-color);
  color: var(--title-color);
  transition: color var(--transition-dur-cub);
}

.icon-link:hover,
.icon-link:focus {
  color: var(--accent-color);
}

.master-icon {
  fill: currentColor;
}

.masters-item__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .master-text-container {
    margin-left: 120px;
  }
  .master-list {
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .master-text-container {
    margin-left: 0px;
  }
  .master-list {
    flex-direction: row;
    gap: 25px;
  }
}
.portfolio-text {
  margin-bottom: 44px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.port-item__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio-list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
}/*# sourceMappingURL=index.css.map */