:root {
  --text-color: #555555;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --text-white-color: #ffffff;
  --table-text-color: #9da4bd;
  --background-section-color: #f7f7f7;
  --small-text-grey-color: rgba(157, 164, 189, 0.6);
  --transition-dur-cub: 250ms linear;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--text-white-color);
  font-family: Open Sans, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.button {
  min-width: 160px;
  border-radius: 25px;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-color: var(--accent-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.button-header {
  color: var(--text-white-color);
  transition: color var(--transition-dur-cub), background-color var(--transition-dur-cub);
}

.button-header:hover,
.button-header:focus {
  color: var(--text-white-color);
  background-color: var(--accent-color);
}

.button {
  cursor: pointer;
}

.logo-link {
  display: block;
  width: 69px;
  height: 55px;
  margin-right: 10px;
  fill: var(--text-white-color);
}

@media screen and (min-width: 768px) {
  .logo-link {
    fill: #000;
  }
}
@media screen and (min-width: 1200px) {
  .logo-link {
    margin-right: 75px;
  }
}
.nav-list,
.contact-link,
.button-header {
  display: none;
}

.mobile-menu-open {
  background-color: transparent;
  fill: var(--text-white-color);
  border: none;
  padding: 0;
  line-height: 0;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 40px 0 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
  .button-header {
    display: block;
  }
  .nav-list__link,
.contact-link {
    color: var(--text-white-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    transition: color var(--transition-dur-cub);
  }
  .nav-list__item:not(:last-child) {
    margin-right: 40px;
  }
  .contact-link {
    margin-left: auto;
    margin-right: 40px;
    text-transform: uppercase;
  }
  .nav-list__link:hover,
.nav-list__link:focus {
    color: var(--accent-color);
  }
  .contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    margin-right: 43px;
  }
  .contact-link {
    display: block;
  }
}
.hero {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(/src/images/Slider1-desk.jpg);
  background-size: cover;
  background-position: 60% 0;
  min-height: 100vh;
}

.hero-container {
  background-color: transparent;
}

.hero-part {
  display: none;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--text-white-color);
}

.suptitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--table-text-color);
}

.suptitle::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--table-text-color);
}

.hero-text {
  color: var(--table-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.social-media-part {
  display: none;
}

.text-container {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 7%;
  max-width: 320px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .text-container {
    display: none;
  }
  .hero {
    background-image: none;
  }
  .hero-container {
    overflow: hidden;
    display: flex;
    position: relative;
  }
  .social-media-part {
    position: absolute;
    bottom: 0;
    left: 95px;
    display: flex;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    padding-bottom: 30px;
    padding-left: 40px;
  }
  .social-media-list {
    display: flex;
  }
  .social-media-item:not(:last-child) {
    margin-right: 40px;
  }
  .social-media-link {
    display: flex;
    align-items: center;
    color: var(--title-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    transition: color var(--transition-dur-cub);
  }
  .social-media-link:hover,
.social-media-link:focus {
    color: var(--accent-color);
  }
  .social-media-inst::before {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    margin-right: 40px;
    background-color: var(--title-color);
  }
  .hero-part {
    position: relative;
    left: 100px;
    top: 0;
    display: block;
    padding-top: 274px;
    flex-grow: 1;
    padding-bottom: 206px;
    padding-left: 100px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(/src/images/Slider1-desk.jpg);
    background-color: rgba(25, 28, 38, 0.2);
    background-size: cover;
    background-position: 50% 0%;
  }
  .hero-text {
    max-width: 355px;
  }
}/*# sourceMappingURL=index.css.map */