.logo-link {
  display: block;
  width: 69px;
  height: 55px;
  margin-right: 10px;
  fill: var(--text-white-color);
}

@media screen and (min-width: 768px) {
  .logo-link {
    fill: #000;
  }
}

@media screen and (min-width: 1200px) {
  .logo-link {
    margin-right: 75px;
  }
}
