:root {
  --text-color: #555555;
  --accent-color: #ff6c00;
  --title-color: #303030;
  --text-white-color: #ffffff;
  --table-text-color: #9da4bd;
  --background-section-color: #f7f7f7;
  --small-text-grey-color: rgba(157, 164, 189, 0.6);
  --transition-dur-cub: 250ms linear;
}
